{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block css %}
<style>
	.bg-img {
		background: url(../static/images/banner/u_banner.jpg) 0 36% no-repeat;
		background-size: cover;

	}
</style>
{% endblock css %}



{% block content %}



<!-- Intro Section -->
<section class="inner-intro bg-img light-color overlay-before parallax-background">
	<div class="container">
		<div class="row title">
			<div class="title_row">
				<h1 data-title="About"><span>About</span></h1>

			</div>

		</div>
	</div>
</section>
<!-- Intro Section End-->
	<div>
 {% for ab in abouts %}

<!-- About Section -->
<div id="about-section" class="padding pt-xs-40">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-lg-12">
				<div class="block-title v-line">
					 {# About_us mission_title#} 
					<h2>{{ ab.mission_title }}</h2>
					{# About_us mission_title#} 
					{# About_us mission_short_text#} 
					<p class="italic">
						{{ ab.mission_short_text }}
					</p>
				{# About_us mission_short_text#}
				</div>
					 {# About_us mission_description#} 
				<div class="text-content">
					<p>
						{{ ab.mission_description }}
					</p>
				</div>
				 {# About_us mission_description#}

			</div>
		</div>
	</div>
</div>

<div id="about-section" class="padding pt-xs-40">
	<div class="container">
		<!--section divider-->
		<div class="col-md-12 col-lg-12">
			<div class="dark-bg our-vision light-color padding-40">
				<div class="block-title">
					{# About_us vision_title #}
					<h2>{{ ab.vission_title }}</h2>
						{# About_us vision_title #}
						{# About_us vision_short_text #}
					<p class="italic">
						{{ ab.vission_short_text }}
					</p>
					{# About_us vision_short_text #}
				</div>
			{# About_us vision_description #}
				<p>
					{{ ab.vission_description }}
				</p>
				{# About_us vision_description #}
			</div>
		</div>
	</div>
</div>

<!-- About Section End-->

<!-- Story Section -->
<div id="about-section" class="padding pt-xs-40">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="block-title v-line">
						{# About_us journey_title #}
					<h2>{{ ab.journey_title }}</h2>
					{# About_us journey_title #}
					{# About_us journey_short_text #}
					<p class="italic">
						{{ab.journey_short_text}}
					</p>
				{# About_us journey_short_text #}
				</div>
				{# About_us journey_description #}
				<div class="text-content">
					<p>
						{{ ab.journey_description }}
					</p>
				</div>
				{# About_us journey_description #}

			</div>
		</div>
	</div>
</div>


    {% endfor %}
	</div>



{% endblock %}