{% extends 'base.html' %}
{% load static %}
{% block css %}
	<style>
	@media(min-width:769px) {
		.max-height{
			max-height:auto;
		}
	}
	@media (max-width:768px) {
		.max-height{
			max-height: 250px;
		}
	}
    .bg-img{
	    background:url(../static/images/banner/a_banner.png) 0 36% no-repeat;
	    background-size:cover;
    }
	</style>
{% endblock %}
{% block content %}

		<!-- CONTENT -->
		<!-- Intro Section -->
		<section class="inner-intro bg-img light-color overlay-before parallax-background">
			<div class="container">
				<div class="row title">
					<div class="title_row">
						<h1 data-title="Project"><span>Catalogs</span></h1>

						<div class="page-breadcrumb">
							<a>Home</a>/ <span>Catalogs</span>
						</div>

					</div>

				</div>
			</div>
		</section>
    <!--Intero Section end!-->
	<section id="work" class="padding pb-2">
	<div class="container">

				<div class="row text-center mb-40 mb-xs-30">
					<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
						<div class="section-title_home">
							<h2>Our Catalogs</h2>
							<span class="b-line"></span>
							<p class="mb-0">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 's standard dummy text.
							</p>
						</div>
					</div>
				</div>
		</div>
	</section>

	<div class="row container-fluid mb-3 mx-3">
	                   <div class="container col-6 mt-2 p-0 pl-1">
				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/01.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/01.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
          <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-01.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-01.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-02.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-02.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-03.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-03.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-04.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-04.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-05.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-05.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-06.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-06.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-07.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-07.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-08.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-08.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-09.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-09.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-10.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-10.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-11.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-11.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/Page-12.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/Page-12.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>
	      <div class="container col-6 mt-2 p-0 pl-1">

				    <div class="nf-item photo ">
					    <div class="item-box post-media">
						    <a> <img alt="1" src="{% static 'images/catalog/03.jpg' %}" class="max-height"> </a>
						    <div class="link-zoom">
{#							    <a href="{% url 'products_details' %}" class="project_links same_style"> <i class="fa fa-link"> </i> </a>#}
							    <a href="{% static 'images/catalog/03.jpg' %}" class="fancylight popup-btn same_style" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>


						    </div>

					    </div>
				    </div>
	                 </div>



</div>

{% endblock %}