{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
    <!-- Intro Section -->
    <section class="inner-intro bg-img light-color overlay-before parallax-background">
        <div class="container">
            <div class="row title">
                <div class="title_row">
                    <h1 data-title="Blog Detail"><span>Event Details</span></h1>
                </div>

            </div>
        </div>
    </section>
    <!-- Intro Section -->
    <div class="container pt-5">
        <div class="row pb-20 text-center">
            <div class="col-md-12">
                <div class="section-title_home">
                    <h2>Event <span>Details</span></h2>
                </div>
            </div>
        </div>
        </div>
    <!-- Blog Post Section -->
    <section class="padding ptb-xs-40">
    <div class="container">
      <div class="row"> 
        <!-- Post Bar -->
          <div class="col-lg-9 blog-post-hr post-section">
              <div class="blog-post mb-30">
                  
                  <div class="post-header">
                      <h2>Maecenas nec odio ante varcy tincidunt.</h2>
                  </div>
                  <div class="post-media"><img src="{% static 'images/blog/img2.jpg' %}" alt=""><span
                          class="event-calender blog-date"> 21 <span>june</span> </span></div>
                  {#            news details image#}
                  <div class="post-entry">
                      <p> Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                          occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                          animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                          distinctio. 
                    </p>
                      
                    </div>
         
        </div>
        <!-- End Post Bar --> 
       
      </div>
    </div>
  </section>
  <!-- End Blog Post Section -->
{% endblock %}
 

