{% load static %}
{% block css %}

{% endblock %}
<footer class="footer pt-50">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3 footer_logo">
				<a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="" class="footer_logo w-75"></a>
                {#                                                        footer logo#}
				<p>
					Lorem ipsum dolor amet natum latine copiosa at quo, suas labore saperet has there any quote for
					write lorem percit latineu suas dummy.
				</p>
                {% for link in links %}
				{#Social Links#}
				<ul>
					<li>
						<a href="https://{{ link.facebook_link }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					</li>
					
					<li>
						<a href="https://{{ link.googleplus_link }}"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="https://{{ link.likedin_link }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="https://{{ link.twitter_link }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</li>

				</ul>
                {% endfor %}
				{#Social Links#}
			</div>

			<div class="col-md-6 col-lg-2 mt-xs-30 link_footer">
				<h4>Information</h4>
				<ul>
					<li>
						<a href="{% url 'about' %}">About us</a>
					</li>
					<li>
						<a href="{% url 'products' %}">Products</a>
					</li>
					<li>
						<a href="{% url 'brands' %}">Brands</a>
					</li>
					<li>
						<a href="{% url 'NewsList' %}">News & Events</a>
					</li>
					<li>
						<a href="{% url 'contact' %}">Contact us</a>
					</li>
				</ul>
			</div>

			<div class="col-md-6 col-lg-3 mt-sm-30 mt-xs-30 footer-latest-news">
				<h4>Latest News</h4>
                {% for news in po %}
                    {% if forloop.counter <= 3 %}
				<div class="single-news">
					<h5><a href="{% url 'News_detail' news.slug %}">{{ news.title | slice:42 }}..</a></h5>
					<span>{{ news.created_at.date }}</span>
				</div>
	                {% endif %}
				{% endfor %}
			</div>

			<div class="col-md-6 col-lg-4 mt-sm-30 mt-xs-30 footer-subscribe">
				<h4>Subscribe Us</h4>
				<p>
					 {% for s in subscribe %}
                                    {% if forloop.counter <= 1 %}
									{{ s.sub_text }}
									{% endif %}
                     {%endfor %}
				</p>
				<form action="{% url 'Subscribe_footer' %}" method="post">
                    {% csrf_token %}
					<input style="width: 70%;" class="mr-0 pr-0" type="email" name="email-f" placeholder="Enter your e-mail">
					<button class="btn-text" type="Submit" >
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</button>
				</form>

			</div>

		</div>
	</div>
	<div class="bottom-footer text-center">
		<div class="container">
			<div class="bor_top clearfix">
				<p>
                    {% for link in links %}
					<a href="#" target="_blank">Copyright &copy{{ link.copyright_text }} RS Dairy And Agro Foods Industries Ltd.</a>
					{% endfor %}
				</p>

			</div>
		</div>
	</div>
</footer>