
{% load static %}
{% block css %}


<style>


	@media (min-width:760px) {
		.logo-img a img{
			width: 200px;
			height:120px;
			position:relative;
			z-index: 4;
		}
		.nav-container img{
			width: 50px;
			height:30px;
			position:absolute;
			z-index: 100;
			margin-top: 18px;
			margin-left: 30px;


		}
	}
	@media (max-width:769px) {
		.logo-img a img {
			width: 150px;
			height: 80px;


		}

		.nav-container img {
			display: none;
            visibility: hidden;
			z-index:-99999;


		}
	}
	.middel-part__block .logo a{
		padding: 2px;
	}

	@media (max-width:1280px) {
		.nav-container img {
			width: 50px;
			height: 30px;
			position: absolute;
			z-index: 100;
			margin-top: 14px;
			margin-left:0px;
		}

	}


</style>


{% endblock %}

		<!--loader-->
		<div id="preloader">
			<div class="sk-circle">
				<div class="sk-circle1 sk-child"></div>
				<div class="sk-circle2 sk-child"></div>
				<div class="sk-circle3 sk-child"></div>
				<div class="sk-circle4 sk-child"></div>
				<div class="sk-circle5 sk-child"></div>
				<div class="sk-circle6 sk-child"></div>
				<div class="sk-circle7 sk-child"></div>
				<div class="sk-circle8 sk-child"></div>
				<div class="sk-circle9 sk-child"></div>
				<div class="sk-circle10 sk-child"></div>
				<div class="sk-circle11 sk-child"></div>
				<div class="sk-circle12 sk-child"></div>
			</div>
		</div>

		<!--loader-->

		<!-- HEADER -->
		<header>
			<div class="top-part__block">
				<div class="search__box-block">
					<div class="container">
						<input type="text" id="search" class="input-sm form-full" placeholder="Search Now">
						<a href="#!" class="search__close-btn"> <i class="fa fa-times" aria-hidden="true"></i> </a>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-7">
							<p>
								<i><b>We Source Quality, We Make Quality, We Delivery Quality</b></i>
							</p>
						</div>
						<div class="col-sm-5">
							<div class="social-link__block text-right">
								<a href="#" class="facebook"> <i class="fa fa-facebook"></i> </a>
								<a href="#" class="twitter"> <i class="fa fa-twitter"></i> </a>
								<a href="#" class="google-plus"> <i class="fa fa-google-plus"></i> </a>
								<a href="#" class="linkedin"> <i class="fa fa-linkedin"></i> </a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="middel-part__block">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 logo col-md-12 d-flex align-items-center logo-img">

							<a href="{% url 'home' %}"> <img src="{% static 'images/logo.png'%}" alt="Logo"> </a>

							<div class="navbar-header">
								<button type="button" class="navbar-toggle hidden-lg-up" data-toggle="collapse" data-target="#navbar-menu">
									<i class="fa fa-bars"></i>
								</button>

							</div>
						</div>

						<div class="col-lg-9 col-md-12">
							<div class="top-info__block text-right">
								<ul>
									<li>
										<i class="fa fa-map-marker"></i>
										{% for p in data  %}
										<p>
											{{p.address1}}
											<span> {{p.address2}}</span>
										</p>
										{% endfor %}
									</li>
									<li>
										<i class="fa fa-phone"></i>
										<p>
											Call Us
											<span> +56 (0) 012 345 6789</span>
										</p>
									</li>
									<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<p>
											Mail Us
											<span> <a href="mailto:info@gmail.com">info@gmail.com</a> </span>
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main_nav stricky-header__top navbar-toggleable-md nav-container">
				<img src="{% static 'images/logo.png'%}" alt="Logo" id="logo" style="visibility: hidden">

				<nav class="navbar navbar-default navbar-sticky bootsnav">
					<div class="container">

						<!-- Start Header Navigation -->

						<!-- End Header Navigation -->
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="navbar-menu">

							<ul class="nav navbar-nav mobile-menu d-flex justify-content-between ">



								<li>
									<a href="{% url 'home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-toggle">About</a>
                                    <span class="submenu"></span>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'about' %}">About</a>
                                        </li>
                                        <li>
                                            <a href="about2.html">About 2</a>
                                        </li>
                                        <li>
                                            <a href="about3.html">About 3</a>
                                        </li>
                                        <li>
                                            <a href="#">history</a>
                                            {#											History URL#}
                                        </li>
                                        <li>
                                            <a href="{% url 'career' %}">career</a>
                                            {#											career URL#}
                                        </li>
                                        <li>
                                            <a href="{% url 'partnerships' %}">partnerships</a>
                                        </li>
                                        <li>
                                            <a href="#">leadership</a>
                                            {#											leadership URL#}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'products' %}">Products</a>
                                </li>

                                <li>
                                    <a href="{% url 'brands' %}">Brands</a>

                                </li>

                                <li>
                                    <a href="javascript:avoid(0);" class="dropdown-toggle">News & Events</a>
                                    <span class="submenu"></span>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'news' %}">Latest News</a>
                                        </li>
										<li>
                                            <a href="{% url 'event_details' %}">Image Gallery</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript:avoid(0);" class="dropdown-toggle">Investment</a>
                                    <span class="submenu"></span>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">About Investment</a>
                                            {#	                                        about URL#}
                                        </li>
                                        <li>
                                            <a href="#">Investment Policy</a>
                                            {#	                                        Trams and conditions URL#}
                                        </li>
                                        <li>
                                            <a href="#">Investor Request</a>
                                            {#											investor request URL#}
                                        </li>
                                        <li>
                                            <a href="#">Investor login</a>
                                            {#											login Url#}
                                        </li>

                                        <li>
                                            <a href="{% url 'testimonial' %}">Testimonials</a>
                                            {#                                            Testimonials URL#}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">Shop</a>
                                    <span class="submenu"></span>
                                    <!-- Nav Dropdown -->
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Coming Soon....</a>{#	shop URL#}
                                        </li>

                                    </ul>
                                    <!-- End Nav Dropdown -->
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
						<!--navbar-collapse -->
					</div>
				</nav>
			</div>
		</header>

