{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block css %}
<style>
	.bg-img{
		background: url(../static/images/banner/u_banner.jpg) 0 36% no-repeat;
		background-size: cover;

	}
</style>
{% endblock css %}
{% block content %}
<style>
	.btn-text {
		padding-top: 12px;
	}
</style>

<!-- Intro Section -->
<section class="inner-intro bg-img light-color overlay-before parallax-background">
	<div class="container">
		<div class="row title">
			<div class="title_row">
				<h1 data-title="Blog"><span>News & Events</span></h1>
			</div>
		</div>
	</div>
</section>
<!-- Intro Section -->
<div class="container pt-5">
<div class="row pb-30 text-center">
	<div class="col-md-12">
		<div class="section-title_home">
			<h2>News & <span>Events</span></h2>
		</div>
	</div>
</div>
</div>
<!-- Blog Post Section -->
<section class="pb-xs-40 pb-4">
	<div class="container">
		<div class="row">
			<!-- Post Item -->
			<div class="col-12">
				<div class="row">
					{% for post in posts %}
					<div class="col-md-9 blog-post-hr">
						<div class="blog-post mb-30">
							<div class="post-media"><img src="{{post.image.url}}" class=""><span
									class="event-calender blog-date"> {{ post.created_at }}</span>s</div>
							{# news image#}
						
							<div class="post-header">
								<h2><a href="blog-detail.html">{{ post.title }}</a></h2>
								{# news details#}
							</div>
							<div class="post-entry">
							  <p>{{post.description | slice:":200" }}</p>
							</div>
							<div class="post-more-link pull-left"><a href="{% url 'News_detail' post.slug %}" class="btn-text">Read
									More</a></div>
							{# news details#}
						</div>
                    {% endfor %}
					</div>
				</div>
				
			</div>
			<!-- End Post Item -->
		</div>
	</div>

</section>
<!-- End Blog Post Section -->
{% endblock %}