{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
<style>
	.btn-text {
		padding-top: 12px;
	}
</style>

<!-- Intro Section -->
<section class="inner-intro bg-img light-color overlay-before parallax-background">
	<div class="container">
		<div class="row title">
			<div class="title_row">
				<h1 data-title="News & Events">News & Events</h1>

			</div>
		</div>
	</div>
</section>
<!-- Intro Section -->
<div class="container pt-5">
<div class="row pb-30 text-center">
	<div class="col-md-12">
		<div class="section-title_home">
			<h2>News & Event<span class="b-line"></span></h2>
		</div>
	</div>
</div>
</div>
<!-- Blog Post Section -->
<section class="pb-xs-40 pb-4">
	<div class="container">
		<div class="row">
            {% for pos in f_post %}
			<!-- Post Item -->
			<div class="col-12 mt-2">
				<div class="row">

					<div class="col-md-9 blog-post-hr mt-2">
						<div class="blog-post mb-30">
							<div class="post-media"><img src="{{pos.image.url}}" class="" height="400px">
                                <span class="event-calender post_date text-white"> {{ pos.created_at.date }}</span></div>
							{# news image#}
						
							<div class="post-header text-justify">
								<h2><a href="{% url 'News_detail' pos.slug %}">{{ pos.title }}</a></h2>
								{# news details#}
							</div>
							<div class="post-entry text-justify">
							  <p>{{pos.description | slice:":200" }}</p>
							</div>
							<div class="post-more-link pull-left"><a href="{% url 'News_detail' pos.slug %}" class="btn-text">Read
									More</a></div>
							{# news details#}
						</div>

					</div>
				</div>
				
			</div>
            {% endfor %}
			<!-- End Post Item -->
		</div>
	</div>

</section>
<!-- End Blog Post Section -->
{% endblock %}