{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block css %}
        <link href="{% static 'css/index.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/theme-color/default.css'%}" rel="stylesheet" type="text/css" id="theme-color" />
        <style>
            .bg-img{
                background: url(../static/images/banner/u_banner.jpg) 0 36% no-repeat;
                background-size: cover;
        
            }
        </style>
{% endblock %}
{% block content %}



		<!-- Intro Section -->
		<section class="inner-intro bg-img light-color overlay-before parallax-background">
			<div class="container">
				<div class="row title">
					<div class="title_row">
						<h1 data-title="Service"><span>Products</span></h1>
					</div>

				</div>
			</div>
		</section>
		<!-- Intro Section -->
        
		<!-- Service Section -->
		<section class="padding ptb-xs-40">
			<div class="container">
				<div class="row pb-30 text-center">
					<div class="col-md-12">
						<div class="section-title_home">
                            <h2>Our <span>Products</span></h2>
                          
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for p in data %}
                    <div class="col-md-6 col-lg-4 mb-xs-30">
                        <div class="service_box">
                            <figure>
                                <img src="{{p.p_image.url}}" alt=""/>
                                {#                                brands image#}
                            </figure>
                            {#                                brands title#}
                            <h3><a href="#">{{p.p_title}}</a></h3>
                            {#                                brands Description#}
                            <p>
                                {{p.description}}
                            </p>
                        </div>
                    </div>
                     {% endfor %}
                </div>

			</div>
		</section>
		<!-- Service Section end -->
{% endblock %}

