
{% load static %}
  <!-- General CSS Files -->
<link rel="stylesheet" href="{%static 'investor/css/app.min.css' %}">
  <!-- Template CSS -->
<link rel="stylesheet" href="{%static 'investor/css/style.css' %}">
<link rel="stylesheet" href="{%static 'investor/css/components.css' %}">
  <!-- Custom style CSS -->
<link rel="stylesheet" href="{%static 'investor/css/custom.css' %}">
<link rel='shortcut icon' type='image/x-icon' href="{% static  'images/rs.ico'%}" />
<link href="{%static 'investor/style.scss' %}" rel="stylesheet">
<link href="{%static 'investor/chart.css.map' %}" rel="stylesheet">


