{% extends 'investor/base.html' %}
{% load static %}

{% block title %}

{% endblock %}
{% block css %}

{#		<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">#}
		<!--Main Slider-->
		<link href="{% static 'css/layers.css'%}" type="text/css" rel="stylesheet" media="screen">
		<link href="{% static 'css/style.css'%}" rel="stylesheet">
		<link href="{% static 'css/theme-color/default.css'%}" rel="stylesheet" type="text/css" id="theme-color" />
    <style>
    body{
        background-color:#f6f6f6;

    }
    .border {
        border-radius: 8px;
    }

    </style>

{% endblock %}
{% block content %}
 <section class="padding d-flex justify-content-center" >


    <!-- Map Section -->
    <!-- <div class="map">
      <div id="map"></div>
    </div> -->
    <!-- Map Section -->


    <div class="card  container contact-form pt-40 pt-xs-40 border p-3 {% if messages %} error {% else %}border-success {% endif %}" >
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <h2>Request Here For Withdraw</h2>
            <span class="b-line my-2"></span>

          <!-- Contact FORM -->
          <form class="contact-form mt-45" id="contact" method="post" action="{% url 'request_withdraw' %}">
              {% csrf_token %}
            <!-- IF MAIL SENT SUCCESSFULLY -->
            <div id="success">
              <div role="alert" class="alert alert-success"> <strong>Thanks</strong> for Get In Touch. </div>
            </div>
            <!-- END IF MAIL SENT SUCCESSFULLY -->           
            <div class="row" >
              <div class="col-md-6 col-lg-6">
                {# Contact name #}
                <div class="form-field">
                  <input class="input-sm form-control" id="name" type="text" name="name" placeholder="Your Name" required="true">
                </div>
                {# Contact name #}
                {# Contact email #}
                <div class="form-field">
                  <input class="input-group-sm form-control" id="email" type="email" name="email" placeholder="Email" required="true">
                </div>
                  <div class="form-field my">
                  <input class="input-group-sm form-control" id="cell" type="number" name="Cell" placeholder="Phone Number" required="true">
                </div>
                {# Contact email #}
                {# contact Subject#}
                <div class="form-field">
                  <input class="input-sm form-control" id="sub" type="text" name="subject" placeholder="Subject">
                </div>
                {# contact Subject#}
              </div>
              <div class="col-md-6 col-lg-6">
                {# Contact message #}
                <div class="form-field">
                  <textarea class="form-full" id="message" rows="7" name="message" placeholder="Your Message" required="true" style="height:250px;"></textarea>
                </div>
                {# Contact Message #}
              </div>

            </div>
               {% if messages %}
                   {% for m in messages %}
                    <div class="col-md-12 col-lg-12 align-items-center pb-2" >

                <lebel class="btn-text" style="padding-top:13px"> {{ m }} </lebel>
              </div>
                   {% endfor %}
                {% endif %}
              <div class="col-md-12 col-lg-12 pt-2" >

                <button class="btn-text" type="Submit" id="submit" name="button"> Send Message </button>
              </div>
          </form>
          <!-- END Contact FORM --> 
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block scripts %}

		<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
		<script src="{% static 'js/jquery.appear.js'%}" type="text/javascript"></script>
		<!-- Mail Function Js -->
		<script src="{% static 'js/mail.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/custom.js'%}" type="text/javascript"></script>
{% endblock %}